:root {
	--turbid-color: hsla(0deg, 0%, 96%, 1);
	--base-color: hsla(207deg, 43%, 49%, 1);
	--base-border-color: hsla(207deg, 42%, 38%, .5);
	--base-lighter-color: hsla(207deg, 47%, 91%, 1);
	--base-active-color: hsla(207deg, 42%, 38%, 1);
	--base-bright-color: hsla(0deg, 0%, 97%, 1);
	--shadow-color: hsla(0deg, 8%, 10%, 1);
	--text-color: hsla(0deg, 0%, 10%, 1);

	--base-dark-color: hsla(207deg, 43%, 29%, 1);
	--base-dark-active-color: hsla(207deg, 42%, 28%, 1);
	--base-dark-bright-color: hsla(0deg, 0%, 97%, 1);
}

*,
::before,
::after {
    /*outline: 1px solid var(--base-color);*/
    box-sizing: border-box
}

*::selection {
    background-color: var(--base-border-color);
    color: var(--base-bright-color)
}
::-webkit-scrollbar {
    width: .25rem;
    background-color: var(--base-lighter-color)
}
::-webkit-scrollbar-thumb {
    background-color: var(--base-color);
    transition: all 300ms ease-in-out
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--base-active-color)
}

body {
	/*letter-spacing: -2px;*/
	font-family: 'Poppins', 'Open Sans', sans-serif;
	font-size: 11.8px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--turbid-color);
    background-color: var(--bs-orange);
    /*font-weight: 500;*/
}

.active > .page-link,
.page-link.active {
    background-color: var(--base-color)!important;
    border-color: var(--base-border-color)!important;
}

.page-link:focus {
    box-shadow: none;
}

.modal-header .btn-close {
	background-color: var(--base-bright-color);
	margin-right: 0;
}

.btn-shadow {
	box-shadow: -3px 5px var(--shadow-color);
}

.btn-shadow:focus,
.btn-shadow:active {
	box-shadow: -3px 3px var(--shadow-color);
	transform: translateY(2px);
}

.bg-color {
	background-color: var(--base-color);
	color: var(--base-bright-color);
}

.bg-outline-color {
	background-color: var(--base-lighter-color);
	color: var(--base-color);
}

.text-pinky {
	color: #ff41ba;
}

.text-color {
	color: var(--base-color);
}

.text-justify {
	text-align: justify;
}

ul.square {
	list-style-type: square;
}

ul.two-columns {
	columns: 2;
}

a.dotted {
	color: steelblue;
	text-decoration: none;
}

a.dotted:focus,
a.dotted:hover {
	text-decoration: underline;
	text-decoration-style: dotted;
}

.pointered {
	cursor: pointer;
}

.btn.dotted {
	font-size: 13px;
	text-decoration-style: dotted;
}

.btn-color {
	background-color: var(--base-color);
	color: var(--base-bright-color);
}
.btn-color:focus,
.btn-color:hover,
.btn-color-dark:focus,
.btn-color-dark:hover {
	background-color: var(--base-active-color);
	color: var(--base-bright-color);
}
.btn-color-dark {
	background-color: var(--base-dark-color);
	color: var(--base-dark-bright-color);
}

.btn-outline-color {
	background-color: var(--base-bright-color);
	border: 1px solid var(--base-color);
	color: var(--base-color);
}
.btn-outline-color:focus,
.btn-outline-color:hover {
	background-color: var(--base-active-color);
	color: var(--base-bright-color);
}

#loader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2701;
	background-color: rgba(245, 245, 245, .8);
}
#loader .mid {
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: transparent;
	transform: translate(-50%, -50%);
	transform-origin: 0 0;
}

/* AUTHENTICATION */
.login, .register, .verify {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.linen {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
}
.linen a {
	padding: .5rem 1rem;
}

/*
.linen::before {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	background-color: steelblue;
	top: 60%;
	left: 0;
	transform-origin: center center;
	transform: translateY(-60%);
	z-index: -1;
}
*/

.wrap {
	width: 100%;
	margin: auto;
	padding: 0 1rem;
}

.wrap-login { max-width: 420px; }
.wrap-verify { max-width: 580px; }
.wrap-register { max-width: 720px; }

.full-height {
	width: 100%;
	height: 100vh;
}

.turbided {
	background-color: var(--turbid-color);
}

.fw-slightly-bold {
	font-weight: 500;
}

.btn-auth-back {
	font-size: 1.5em;
	top: .75rem;
	left: 1rem;
}
.btn-eye {
	top: 50%;
	right: -1.572px;
	transform: translateY(-50%);
}

.error .btn-eye {
	right: 1.375rem!important;
	color: var(--bs-danger);
}

.password-container input[type=checkbox] {
	display: none;
}

.password-container input[type=checkbox]:checked + label {
	box-shadow: 3px 3px var(--shadow-color);
	transform: translateY(2px);
	background-color: var(--base-active-color);
}

.password-container label {
	box-shadow: 3px 5px var(--shadow-color);
	color: var(--base-bright-color);
	background-color: var(--base-color);
	border: 1px solid transparent;
	border-radius: .25rem;
	padding: .5rem 1rem;
	font-size: 14px;
}

/* DATATABLE */
.dataTable {
    width: inherit!important;
    white-space: nowrap;
    vertical-align: middle;
    margin: 0;
}

.dataTable td {
    white-space: nowrap;
    vertical-align: middle;
    text-overflow: ellipsis;
}

/* FORM */
.form-control.is-invalid {
	box-shadow: 0px 8px #dc3545;
}
.form-control.is-invalid:focus {
	box-shadow: none;
	transform: translateY(4px);
	box-shadow: 0px 4px #b22e3b;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection,
.select2-selection.select2-selection--multiple,
.form-control,
.input-shadow {
	box-shadow: 0px 8px var(--base-color);
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection:focus,
.select2-container--bootstrap-5.select2-container--open .select2-selection:focus,
.form-control:focus,
.input-shadow:focus {
	box-shadow: none;
	transform: translateY(4px);
	box-shadow: 0px 4px var(--base-active-color);
}

.btn,
.form-control {
	font-size: 11.8px;
}

.img-hero-container {
	height: 360px;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, .275)!important;
}

.label-select label {
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 11px;
    z-index: 1061;
    padding: 0 .5rem;
}

.select2-selection {
	padding-top: 24px!important;
	padding-bottom: 10px!important;
}

img {
	pointer-events: none;
}

@media all and (max-width: 991.98px) {
	.img-hero-container {
		box-shadow: none!important;
	}
}

@media all and (max-width: 767.98px) {
	.wrap-verify {
		padding: 0 1.5rem;
	}
}

@media all and (max-width: 575.98px) {
	ul.two-columns { columns: 1; }
}